BACKUP_OPTIONS="{{ etcd_backup_options }}"
BACKUP_COMPRESS="{{ etcd_backup_compress }}"
MOUNT_TYPE="{{ etcd_backup_mount_type }}"
NB_BACKUPS="{{ etcd_backup_retention }}"
WEBHOOK_NOTIFY="{{ etcd_backup_webhook_notification }}"
WEBHOOK_SCRIPT="{{ etcd_backup_webhook_script }}"
WEBHOOK_URL="{{ etcd_backup_webhook_url }}"
ETCDCTL_PATH="{{ etcdctl_path }}"
ETCD_CACERT="{{ etcd_backup_cacert }}"
ETCD_CERT="{{ etcd_backup_cert }}"
ETCD_KEY="{{ etcd_backup_key }}"
ETCD_SECURED="{{ etcd_backup_secure }}"
NOTIFY_FAILURE_ONLY="{{ etcd_backup_snotify_failure_only }}"
